
<h3><%= link_to @user.name, user_path(@user.id) %>'s Listings</h3>
<br>
<% if @listings.count != 0 and @listing_feed.count >= 1 %>
	
		<% @listing_feed.each_with_index do |l, ind| %>
			<h4><%= link_to l.title, user_listing_path(l.user_id, l.id) %></h4>
			<br>
		<% end %>
	
<% elsif @listings.count == 0 or @listing_feed.count == 0 %>
	<h5>Listings are either pending for approval or there is no listing yet.</h5>
<% end %>


	<p><%= paginate @listing_feed, param_name: :listing_page %></p>


<br>
<hr>
<% if signed_in? %>
	<h3>Listings pending for approval</h3>
	<br>
	<% if @draft_feed.count >= 1 %>
		
			<% @draft_feed.each_with_index do |l, ind| %>
				<h4><%= link_to l.title, user_listing_path(l.user_id, l.id) %></h4>
				<br>
			<% end %>
		
	<% elsif @draft_feed.count == 0 %>
		<h5>There is no pending listings</h5>
	<% end %>


	<p><%= paginate @draft_feed, param_name: :draft_page %></p>

<% end %>