

<div class="text_field">
	<%= form.label :name %>
	<%= form.text_field :name, class:"form-control"%>
</div>

<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email', class:"form-control" %>
</div>

<div class="password-field">
	<%= form.label :password %>
	<%= form.password_field :password, class:"form-control" %>
</div>
<br>
<p>Upload your profile picture here:<%= form.file_field :avatar %></p>
