<p id="profile-pic"><%= image_tag @user.avatar.thumb %></p>
<h1>This is your profile page</h1>
<br>
<h4>Name: <%= @user.name %></h4>
<h4>Email: <%= @user.email %></h4>
<% if signed_in? %>
	<% if current_user.id == @user.id %>
		<%= link_to "Edit", edit_user_path(current_user.id), class:"btn btn-primary" %>
	<% end %>
<% end %>

<% if @user.listings.count != 0 %>
	<h3><%= link_to "View all your listings",  user_listings_path(@user.id) %></h3>
<% else %>
	<h3>You have no listing yet.</h3> 
	<% if signed_in? && current_user.id == @user.id %>
		<h3><%= link_to "Become a host today!", new_user_listing_path(current_user.id) %></h3>
		<br>
	<% end %>
<% end %>